body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: #fff;
}

/* HEADER */
header {
    background: #181818;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #222;
}

/* CONTENEDOR */
.container {
    width: 95%;
    max-width: 900px;
    margin: 20px auto;
}

/* TARJETA DE VIDEO */
.video-card {
    margin-bottom: 25px;
    background: #181818;
    padding: 15px;
    border-radius: 10px;
}

video {
    width: 100%;
    border-radius: 10px;
}

.video-title {
    font-size: 18px;
    margin-top: 10px;
}